img {
  image-orientation: from-image;
}

.compared-image,
.rated-image {
  text-align: center;
}

.compared-image img,
.rated-image img {
  max-height: 30rem;
  width: auto;
}

.compared-image img {
  transition: opacity 0.5s, transform 0.5s;
}

#compared-images:hover .compared-image img {
  opacity: 0.5;
  transform: scale(0.8);
}

#compared-images:hover .compared-image:hover img {
  opacity: 1;
  transform: none;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

table.center th,
table.center td {
  text-align: center !important;
  vertical-align: middle;
}

img.thumbnail {
  max-width: 128px;
  max-height: 128px;
}