B<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pairwise Comparison</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>
  <nav class="navbar is-light has-text-centered">
    <div class="navbar-menu is-active">
      <div class="navbar-start">
        <a class="navbar-item" href="https://evgeniy-khist.github.io/">
          evgeniy-khist.github.io
        </a>
        <a class="navbar-item" href="pairwise-comparison.html">
          Pairwise Comparison
        </a>
        <a class="navbar-item" href="solution-comparison.html">
          Solution Comparison
        </a>
        <a class="navbar-item" href="image-pairwise-comparison.html">
          Image Pairwise Comparison
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="github-button" href="https://github.com/evgeniy-khist/pairwise-comparison" data-icon="octicon-star"
            data-size="large" data-show-count="true"
            aria-label="Star evgeniy-khist/pairwise-comparison on GitHub">Star</a>
        </div>
        <div class="navbar-item">
          <a class="github-button" href="https://github.com/evgeniy-khist/pairwise-comparison/fork"
            data-icon="octicon-repo-forked" data-size="large" data-show-count="true"
            aria-label="Fork evgeniy-khist/pairwise-comparison on GitHub">Fork</a>
        </div>
        <div class="navbar-item">
          <a class="github-button" href="https://github.com/evgeniy-khist" data-size="large" data-show-count="true"
            aria-label="Follow @evgeniy-khist on GitHub">Follow @evgeniy-khist</a>
        </div>
      </div>
    </div>
  </nav>

  <section id="app" class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" placeholder="New item" v-model="newItemValue" @keyup.enter="addItem">
            </div>
            <div class="control">
              <a class="button is-primary" @click="addItem">Add</a>
            </div>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th>Item</th>
                <th>Score</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in sortedItems">
                <th>{{ item.value }}</th>
                <td>{{ item.score }}</td>
                <td><span class="tag is-success" v-if="winners.includes(item)">Winner</span></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="column">
          <p class="title is-3">Compare items</p>

          <div class="field is-grouped is-grouped" v-for="pair in pairs">
            <p class="control">
              <a class="button" :class="{ 'is-primary': pair.isItem1Winner() }" :disabled="pair.voted"
                @click="pair.voteForItem1()">
                {{ pair.item1.value }}
              </a>
            </p>
            <p class="control">
              <a class="button" :class="{ 'is-primary': pair.isItem2Winner() }" :disabled="pair.voted"
                @click="pair.voteForItem2()">
                {{ pair.item2.value }}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="pairwise-comparison.js"></script>
  <script src="pairwise-comparison-vue.js"></script>
</body>

</html>
